h1 {
    font-size: 60px;
    color: blueviolet;
}

p {
    font-size: 36px;
}

.box-red {
    background-color: red;
}

.box-blue {
    background-color: blue;
}

.box {
    height: 150px;
    width: 150px;
}

#sessao-unica {
    font-size: 56px;
}